{
    "presets": [
        ["@babel/preset-env",
        {
            "targets": {
                "node": "current"
            }
        }
    ]
    ]
}

//The above module converts ES6+ into older versions of js for Node version compatibility 